<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="KITT.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Telerik.Web.UI.RenderMode" value="lightweight" />
    <!--Added Components-->
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="Telerik.Web.UI.StyleSheetFolders" value="~/Content/" />
    <add key="Telerik.Skin" value="Bootstrap" />
    <add key="Telerik.ScriptManager.TelerikCdn" value="Disabled" />
    <add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Dsn=CMS_Cengage" providerName="System.Data.Odbc" />
    <add name="CCE" connectionString="Data Source=CTSSQL.corp.local\CTSSQL,1414;Initial Catalog=ASMSData2;Persist Security Info=True;User ID=cce_rpt;Password=1aRIz858" providerName="System.Data.SqlClient" />
    <add name="Verint" connectionString="Data Source=KYINDWVERSQL01P.corp.local\VERINTSQL;Initial Catalog=CentralDWH;Persist Security Info=True;User ID=cbuchanan_usr;Password=Cengage123!" providerName="System.Data.SqlClient" />
    <add name="KDCKBConnectionString" connectionString="Data Source=whsqlprod1.corp.web\whsqlprod1,1414;Initial Catalog=KDCKB;Persist Security Info=True;User ID=kdckb_app;Password=XzMNu498" providerName="System.Data.SqlClient" />
    <add name="KITTDWConnectionString" connectionString="Data Source=whsqlprod1.corp.web\whsqlprod1,1414;Initial Catalog=KITTDW;Persist Security Info=True;User ID=kdckb_app;Password=XzMNu498" providerName="System.Data.SqlClient" />
    <add name="KITTConnectionString" connectionString="Data Source=whsqlprod1.corp.web\whsqlprod1,1414;Initial Catalog=KITT;User ID=kdckb_app;Password=XzMNu498" providerName="System.Data.SqlClient" />
    <add name="KITTLDConnectionString" connectionString="Data Source=whsqlprod1.corp.web\whsqlprod1,1414;Initial Catalog=KITTLD;Persist Security Info=True;User ID=kdckb_app;Password=XzMNu498" providerName="System.Data.SqlClient" />
	<add name="KITT.My.MySettings.KITTConnection" connectionString="Data Source=whsqlprod1.corp.web\whsqlprod1,1414;Initial Catalog=KITT;Persist Security Info=True;User ID=kdckb_app;Password=XzMNu498" />
</connectionStrings>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="mailhost.cengagelearning.com" port="25" userName="username" password="password" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <pages>
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
    </pages>
    <membership defaultProvider="HigherEdSqlMembershipProvider">
      <providers>
        <clear />
        <!-- Add a customized SqlMembershipProvider -->
        <add name="HigherEdSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="KDCKBConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="HigherEd" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="50" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="HigherEdSqlRoleProvider">
      <providers>
        <add name="HigherEdSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" applicationName="HigherEd" connectionStringName="KDCKBConnectionString" />
      </providers>
    </roleManager>
    <authorization>
      <deny users="?" />
    </authorization>
    <authentication mode="Forms">
      <forms name=".ASPXFORMSAUTH" loginUrl="Login.aspx" protection="Validation" timeout="5184000" requireSSL="false" />
    </authentication>
    <httpHandlers>
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>
    <customErrors mode="Off" />
    <!--
      The <customErrors> section enables configuration 
      of what to do if/when an unhandled error occurs 
      during the execution of a request. Specifically, 
      it enables developers to configure html error pages 
      to be displayed in place of a error stack trace.

    <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    -->
  </system.web>
  <location path="Dashboards">
    <system.web>
      <authorization>
        <allow roles="Admin, CTS_Manager, CTS_Supervisor, TPS_Core, TPS_Manager, CS_Supervisor, CTS_Agent, CS_Manager, OPS, CS_SR_Agent" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Operations/Reporting">
    <system.web>
      <authorization>
        <allow roles="Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Operations">
    <system.web>
      <authorization>
        <allow roles="Admin, OPS" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Operations/DQT">
    <system.web>
      <authorization>
        <allow roles="DQT,Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Operations/WorkForce">
    <system.web>
      <authorization>
        <allow roles="WF_Manager, Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="CTS/Notifications">
    <system.web>
      <authorization>
        <allow roles="Admin, CTS_Manager, CTS_Supervisor, CTS_SR_Agent" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="CTS/Management">
    <system.web>
      <authorization>
        <allow roles="Admin, CTS_Manager, CTS_Supervisor" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="CTS/Agent">
    <system.web>
      <authorization>
        <allow roles="Admin, CTS_Manager, CTS_Supervisor, CTS_Agent, CTS_SR_Agent" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="CTS/SrAgent">
    <system.web>
      <authorization>
        <allow roles="Admin, CTS_Manager, CTS_Supervisor, CTS_SR_Agent" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Executive">
    <system.web>
      <authorization>
        <allow roles="Admin, Executive" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="CustomerService/Management">
    <system.web>
      <authorization>
        <allow roles="Admin, CS_Manager, CS_Supervisor" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="CustomerService/SrAgent">
    <system.web>
      <authorization>
        <allow roles="CS_SR_Agent, Admin, CS_Manager, CS_Supervisor" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="CustomerService/Agent">
    <system.web>
      <authorization>
        <allow roles="Admin, CS_Manager, CS_Supervisor, CS_Agent" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="DSC/Management">
    <system.web>
      <authorization>
        <allow roles="Admin, DSC_Manager" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="DSC/Agent">
    <system.web>
      <authorization>
        <allow roles="Admin, DSC_Manager, DSC_Agent" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="TPS">
    <system.web>
      <authorization>
        <allow roles="Admin, TPS_Manager, CTS_Manager, TPS_Core" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="TPS/Agent">
    <system.web>
      <authorization>
        <allow roles="Admin, TPS_Core, TPS_Manager" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="TPS/Management">
    <system.web>
      <authorization>
        <allow roles="Admin, TPS_Manager" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Seasonal">
    <system.web>
      <authorization>
        <allow roles="Admin, Seasonal_Sup" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Core/Core_Agent">
    <system.web>
      <authorization>
        <allow roles="Admin, Core_Agent, Core_Manager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Core/Core_Mgmt">
    <system.web>
      <authorization>
        <allow roles="Admin, Core_Manager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Public">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImage_axd" />
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_Web_UI_WebResource_axd" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" culture="neutral" publicKeyToken="31BF3856AD364E35" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.WebRequest" culture="neutral" publicKeyToken="31BF3856AD364E35" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" culture="neutral" publicKeyToken="31BF3856AD364E35" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.WebRequest" culture="neutral" publicKeyToken="31BF3856AD364E35" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" culture="neutral" publicKeyToken="31BF3856AD364E35" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.WebRequest" culture="neutral" publicKeyToken="31BF3856AD364E35" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" culture="neutral" publicKeyToken="31BF3856AD364E35" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.WebRequest" culture="neutral" publicKeyToken="31BF3856AD364E35" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" culture="neutral" publicKeyToken="31BF3856AD364E35" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.WebRequest" culture="neutral" publicKeyToken="31BF3856AD364E35" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" culture="neutral" publicKeyToken="31BF3856AD364E35" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.WebRequest" culture="neutral" publicKeyToken="31BF3856AD364E35" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <KITT.My.MySettings>
      <setting name="apiUser" serializeAs="String">
        <value>michael.brown@cengage.com.admin</value>
      </setting>
      <setting name="apiPass" serializeAs="String">
        <value>Cengage1</value>
      </setting>
      <setting name="apiUserKey" serializeAs="String">
        <value>AFdK3pLYca3T5kucGrzr2P8dZ</value>
      </setting>
      <setting name="sfdcConsumerKey" serializeAs="String">
        <value>3MVG9szVa2RxsqBYihXLHBK40SbJCIPkKY22zxixk65te5Ssa1kWZYpDowlXZFdtY51zuW92W5d9Zh3fTAGtD</value>
      </setting>
      <setting name="sfdcConsumerSecret" serializeAs="String">
        <value>7840206698839052831</value>
      </setting>
      <setting name="oauthTest" serializeAs="String">
        <value>1</value>
      </setting>
    </KITT.My.MySettings>
  </applicationSettings>
</configuration>